body {

  font-family: sans-serif;
  background: #f9f6e2;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

input[type="text"] {
  padding: 10px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

#weatherResult {
  margin-top: 20px;
}

.weather-icon {
    font-size: 60px;
    color: #1e88e5;
    margin-bottom: 10px;
  }
  

#suggestionList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  width: 70%;
  margin: 0 auto 10px;
  background: white;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 8px 8px;
}

#suggestionList li {
  padding: 8px 12px;
  cursor: pointer;
}

#suggestionList li:hover {
  background-color: #f0f0f0;
}

#clearBtn {
  background-color: #f44336;
  color: white;
}

#clearBtn:hover {
  background-color: #b9d457;
}